[submodule "claude-deal-with-the-devil"]
	path = claude-deal-with-the-devil
	url = https://github.com/Univers42/claude-deal-with-the-devil.git
[submodule "realtime"]
	path = realtime
	url = https://github.com/Univers42/realtime-agnostic.git
